* {
  margin: 10;
  padding: 10;
 /*  box-sizing: border-box; */
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: rgb(225, 76, 65);
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 30px;
  margin: 10;
  padding: 5;
}

p {
  line-height: 1.8;
}

#btnVolver,#btnRegistrar,#btnActualizar {
  background-color: rgb(19, 18, 18);
  color: #f5eceb;
  /* border: none; */
  border-radius: 12px;
  font-size: 20px;
}

#btnVolver,#btnRegistrar,#btnActualizar:hover {
  cursor: pointer;
}

#btnVolver,#btnRegistrar,#btnActualizar:focus {
  outline: none;
}